@{
    ViewBag.Title = "La nekoveterinaria";
}

<div >
    <img src="~/Images/imagebox4.jpg" class="imageninicio" />
    <div class="textoinicio">
        <h1 style="font-family:MarkerFeltThin-Plain">Bienvenido a</h1>
        <h1 style="font-family:MarkerFeltThin-Plain">La nekoveterinaria</h1>
        <p style="font-family:Narkisim">Usa el navegador de arriba para accesar a base de datos.</p>
        <p style="font-family:Narkisim">En él podrás ver, crear y editar tanto los dueños como las mascotas.</p>
    </div>
</div>

    <div class="nekocuadro">
        <img src="~/Images/neko_01.png" class="nekoimage" />
        <img src="~/Images/neko_02.png" class="nekoimage" />
        <img src="~/Images/neko_03.png" class="nekoimage" />
        <img src="~/Images/neko_04.png" class="nekoimage" />
        <img src="~/Images/neko_05.png" class="nekoimage" />
        <img src="~/Images/neko_06.png" class="nekoimage" />
    </div>

